:root{
    --primary-color: #2308ef;
    --secondary-color: #f60808;
    --success-color: #030303;
    --text-color-normal: #f50000;
    --base-color-white: #fff;
    --backgrourd-color-light: #5e5f60;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color-normal);
  }
  header {
    padding: 15px 20px;
    box-shadow: var(--box-shadow);
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .Logo-menu {
    display: flex;
  }
  .Logo {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      height: auto;
    }
  }
  .header-button {
  }
  .btn-fill {
    background-color:var(--secondary-color);
    color:var(--base-color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .btn-fill:hover {
    background-color: var(--text-color-normal);
  }
  .btn-outline {
    background-color:var(--base-color-white);
    color: var(--primary-color);
    padding: 10px 20px;
    border: 1px solid var(--success-color);
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .btn-outline:hover {
    background-color: var(--text-color-normal);
    color: var(--base-color-white);
  }
  nav {
    align-self: center;
  }
  nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    margin-left: 20px;
  
    a {
      text-decoration: none;
      font-weight: bold;
      color: var(--text-color-normal);
    }
    a:hover {
      color:var(--primary-color);
    }
  }
.container{
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}
/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side {
  width: 50%;
  h1 {
    color: var(--seconddary-color);
    font-size: 2.5rem;
    margin-bottom: 24px;
  }
  p {
    font-size: 1.2rem;
    margin: 24px 0;
  }
}
.right-side {
  width: 50%;
  img {
    width: 100%;
  }
}
.solution {
  margin-top: 50px;
  margin-bottom: 24px;
}
.solution-heading {
  text-align: center;
  margin-bottom: 24px;
  p {
    font-size: 1.2rem;
    margin-bottom: 24px;
  }
}
h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 24px;
}
.solution-content {
  display: flex;
  justify-content: space-between;
  .item {
    width: 32%;
  }
}
.item {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 20px;
  /*margin: 10px;*/
}
.discover-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.customize {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-sidepic {
  width: 50%;
  img {
    width: 100%;
  }
}
.right-home{
  width: 50%;
  h1 {
    color: var(--seconddary-color);
    font-size: 2.5rem;
    margin-bottom: 24px;
  }
  p {
    font-size: 1.2rem;
    margin: 24px 0;
  }
}
.support {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}